@charset "UFT-8";
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Light.ttf) format('truetype');
}
*{
    box-sizing: border-box;
}
*{
    font-family: 'OpenSans';
}
h1{
    font-size: 32px;
}
p{
    font-size: 23px;
    text-indent: 30px;
    text-align: justify;
}
body{
    font-family: 'OpenSans';
    /* background-color: rgb(33, 33, 37); */
    background-color: rgb(77, 23, 23);
}

.row{
    background-color: bisque;
    padding: 0;
    display: table;
}
section{
    background-color: rgb(6, 61, 61);
    display: table-cell;
    /* float: left; */
    width: 60%;
    color: white;
    margin: 0 50px;
    padding: 0;
    /* margin-bottom: 5%; */
    
}
section img{
    width: 150px;
    height: 150px;
    margin: 0 10px;
}
.img-p{
    /* background-color: brown; */
    margin-bottom: 100px;
}
#imagem-perfil{
    /* background-color: blue; */
    float: left;
}

aside{
    background-color: rgb(41, 39, 39);
    display: table-cell;
    float: left;
    width: 15%;
    text-align: center;
    color: white;
    display: none;
}
aside img{
    width: 40px;
    height: 40px;
}
.menu{
    margin-left: -10px;
    width: 100%;
}
.menu ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    list-style: none;
}
.menu li{
    float: right;
}
.menu a{
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin: 0 10px;
    display: block;
    padding: 20px;
    text-decoration: none;
}
.menu a:hover{
    color: blue;
}
.menu img{
    margin-top: 1%;
    width: 250px;
    /* height: 80px; */
    float: left;
    margin-left: 3%;   
}
#hr-top-sobre{
    width: 1351px;
    margin-left: -10px;
    
}
.redes-sociais{
    float: left;
    width: 98%;
    margin-left: 1%;
}
.redes-sociais img{
    width: 40px;
    height: 40px;
}
.lista-cell{
    background-color: greenyellow;
}
footer{
    background-color: rgb(6, 6, 92);
    color: white;
    margin: 0 -8px;
    padding: 30px;
    margin-bottom: -20px;
    display: table; 
}
footer a{
    text-decoration: none;
    color: red;
}
footer p{
    font-size: 20px;
    text-align: center;
}
footer hr{
    margin-top: 120px;
}
.caixas{
    margin-left: 40px;
    font-size: 16px;
}
#caixa1{
    float: left;
    /* background-color: red; */
    display: table-cell;
    width: 30%;
}
#caixa2{
    float: left;
    /* background-color: black; */
    display: table-cell;
    /* width: 300px;
    height: 200px; */
    width: 30%;
    margin: 0 40px;
}
#caixa3{
    float: left;
    /* background-color: green; */
    display: table-cell;
    /* width: 300px;
    height: 200px; */
    width: 30%;
}
#caixa4{
    margin-left: 450px;
    float: left;
    display: table-cell;
    /* background-color: pink; */
    width: 30%;
}
footer ul{
    list-style: inside;
}

@media screen and(max-width: 900px){
    .row{
        padding: 0;
        margin: 0;
    }
    section{
        /* width: 100%; */
        margin: 10px;
    }
    section p{
        margin: 0 1%;
    }
    .caixas{
        display: none;
    }
    /* aside{
        display: none;
    } */
}
