@charset "UFT-8";
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Light.ttf) format('truetype');
}
*{
    box-sizing: border-box;
}
*{
    font-family: 'OpenSans';
}
/* .color{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 10px;
} */
body{
    font-family: 'OpenSans';
    background-color: #fdfdff;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
.row{
    display: table;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    /* background-color: green; */
}
.menu{
    /* margin-left: -10px; */
    display: table;
    width: 100%;
    height: 68px;
    background-color: rgb(6, 6, 92);
}
.menu ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* margin-right: 20px; */
    list-style: none;
}
.menu ul li{
    float: right;
}
.menu a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    /* margin: 0 10px; */
    display: block;
    padding: 20px;
    text-decoration: none;
}
.menu a:hover{
    background-color: white;
    color: rgb(6, 6, 82);
}
.menu img{
    margin-top: 1%;
    width: 200px;
    /* height: 80px; */
    float: left;
    margin-left: 3%;  
    display: table-cell; 
}


section{
    display: table-cell;
    float: left;
    width: 70%;
    margin: 0 15%;
    
}
p{
    font-size: 25px;
    text-indent: 30px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 32px;
}
.hr-lista{
    color: rgb(6, 6, 92);
    width: 100%;
    display: none;
}
.redes-sociais{
    /* float: left; */
    /* background-color: aqua; */
    width: 70%;
    margin: 0 15%;
    margin-bottom: 40px;
    padding: 10px 0;
}
.redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 0 2%;
}

.lista-cell{
    /* background-color: greenyellow; */
    display: none;
}
.lista-cell li{
    list-style-type: none;
}
footer{
    background-color: rgb(6, 6, 92);
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: table; 
}
footer a{
    text-decoration: none;
    color: red;
}
footer p{
    font-size: 20px;
    text-align: center;
}
.caixas{
    margin-left: 4%;
    font-size: 16px;
}
.caixas li{
    list-style-type: none;
}
#caixa1{
    float: left;
    display: table-cell;
    width: 30%;
}
#caixa2{
    float: left;
    display: table-cell;
    width: 30%;
    margin: 0 40px;
}
#caixa3{
    float: left;
    display: table-cell;
    width: 30%;
}
#caixa4{
    margin-bottom: -20px;
    float: left;
    display: table-cell;
    width: 100%;
}
#caixa4 p{
    border-top: 1px solid rgb(255, 255, 255);
    padding: 50px;
}
@media screen and (max-width: 900px) {
    footer{
        width: 100%;
    }
    .caixas{
        margin-bottom: 20px;
    }
    #caixa4{
        width: 100%;
        margin:0;
    }
}


@media screen and (max-width: 740px){
    .menu img{
        margin-top: 1%;
    }
    #g-fotos{
        margin: 0 20%;
    }
    #g-fotos figcaption{
        margin: 0 20%;
    }
    #caixa1{
        margin: 0;
        padding: 0;
    }
    #caixa2{
        margin: 0;
        padding: 0;
    }
    #caixa3{
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width: 730px) {
    .row{
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }  
    .menu{
        height: 100px;
        width: 100%;
    }
    .menu img{
        margin: 0 20%;
        margin-top: 3%;
    }
    .menu ul li a{
        font-size: 18px;
        display: inline;
        text-align: center;
        /* margin-left: 5%; */
    }
    .menu a:hover{
        background-color: rgb(11, 11, 61);
        color: white;
    }
    .menu ul{
        margin:0 10px;
    }
    .menu ul li{
        /* float: left; */
        margin-top: 8px;
        display: inline;
        margin-right: 6px;
        padding: 0;
        
    }
    .itens-nav{
        background-color: rgb(11, 11, 61);
        width: 100%;
        height: 45px;
        margin-top: 1%;
        float: left;
    }

    section{
        width: 100%;
        margin: 0;
    }
    p{
        text-align: justify;
        font-size: 17px;
        margin: 4%;
    }
    h1{
        font-size: 30px;
        margin: 0 2%;
    }
    .redes-sociais{
        width: 95%;
        margin: 2%;
        margin-bottom: 5%;
    }
    .redes-sociais img{
        width: 30px;
        height: 30px;
    }
    .redes-sociais h2{
        margin-left: 5px;
    }
    .redes-sociais a{
        margin: 1%;
    }

    .hr-lista{
        display: block;
        margin-bottom: 40px;
        width: 100%;
    }
    .lista-cell{
        display: block;
        text-align: justify;
        width: 90%;
        margin: 2%;
        margin-bottom: 40px;
    }
    .lista-cell ul{
        font-size: 15px;
        margin: 2%;
        padding: 0;
    }
    .caixas{
        display: none;
    }
    #hr-footer{
        display: none;
    }
    #caixa4{
        width: 100%;
        margin-left: -7%;
        margin-top: -5%;
        /* background-color: red; */
    }
    #caixa4 p{
        border-top: none;
        padding: 0;
        font-size: 17px;
    }
    footer {
        width: 100%;
        padding: 3%;
    }
    footer p{
        width: 100%;
    }
@media screen and (max-width: 600px){
    .row{
        padding: 0;
        margin: 0;
    }
    .menu img{
        margin: 2% 24%;
    }
    .itens-nav ul{
        margin: 0% 10%;
    }
    }
}