.rodape{
    color: white;
    font-family: var(--poppins-light);
    background-color: #515152;
    display: grid;
    grid-template-columns: 1fr;
}
.rodape > .itens-rodape{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    margin: 40px auto 20px auto;
    /* grid-gap: 5px; */
}
.rodape > .itens-rodape > .item{
    /* border: 2px solid red; */
    height: 150px;
    padding: 0 0 0 15px;
}
.rodape > .itens-rodape > .item:nth-last-child(n+2){
    border-right: 1px solid rgba(255, 255, 255, 0.192);
}

.rodape > .itens-rodape > .item h2{
    padding-bottom: 10px;
    font-size: 17px;
}
.rodape > .itens-rodape > .item a, p{
    font-size: 14px;
}
.rodape > .itens-rodape > .item ul, li, a{
    color: white;
    list-style: none;
    line-height: 23px;
}
.rodape > .itens-rodape > .item ul li a:hover{
    color: #E65617;
    transition: .3s ease;
}
.rodape > .copy{
    background-color: rgb(52, 52, 53);
    grid-row: 2;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 13px;
}