@charset "UTF-8";

@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');   
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(./fonts/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(./fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}

/* >>>>>>>>>>>>>> VARIÁVEIS <<<<<<<<<<<< */
:root{
    --poppins-regular: 'Poppins-Regular', sans-serif;
    --poppins-medium: 'Poppins-Medium', sans-serif;
    --poppins-semibold: 'Poppins-SemiBold', sans-serif;
    --poppins-light: 'Poppins-Light', sans-serif;
    --poppins-bold: 'Poppins-bold', sans-serif;
    --font-txt: 14px;
    --font-h1: 22px;
    --color-txt: rgba(0, 0, 0, 0.651);
    --border-grid: 1px solid rgba(0, 0, 0, 0.205);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'OpenSans-Regular';
}
/* >>>>>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<<<<< */
header{
    background-image: url(./Imagens/imagem-header.png);
    background-size: cover;
    position: relative;
    background-position: center bottom;
}

header > .container-header{
    /* max-width: 1350px; */
    width: 100%;
    height: 110px;
    position: relative;
    color: white;
}

header > .invisible{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
}
.bem-vindo{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.logo{
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;

    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
.logo img{
    width: 100%;
}
.bem-vindo{
    position: relative;
}
.bem-vindo p{
    overflow: hidden;
    position: relative;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    /* border: 2px solid blue; */
}
.bem-vindo p::after{
    content: '';
    background-color: white;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    animation: lineHeader 4s ease-in-out infinite;
}
@keyframes lineHeader {
    0%{
       width: 0;
       left: 0; 
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0;
        right: 0;
    }
}


/* >>>>>>>>>>>>>> MENU-PC <<<<<<<<<<<< */
.menu-pc{
    display: flex;
    width: 80%;
    height: 50px;
    margin: 0 auto 40px auto;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;

    font-family: var(--poppins-medium);
    
    background-color: white;
    box-shadow: 2px 2px 7px #02031d63;
}
.menu-pc > .icons{
    display: flex;
}
.menu-pc > .icons > div{
    /* border: 2px solid black; */
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 10px;
    /* padding-top: 5px; */
    /* border-radius: 50%; */
}
.menu-pc > .icons > div > a > img{
    width: 100%;
}
/*  ------ FILTER GRAY */
.menu-pc > .icons > div > a > img{
    -webkit-filter: grayscale(100%);
    filter: gray;
    transition: .3s ease;
}
.menu-pc > .icons > div > a > img:hover{
    -webkit-filter: grayscale(0);
    filter: none;
    transition: 0s ease;
}
.menu-pc > .menu-pc-listas > #lista-externa{
    display: flex;
    list-style: none;
    height: 100%;
    flex-wrap: nowrap;
}
.menu-pc-listas > #lista-externa li{
    /* border: 1px solid red; */
    width: 105px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.menu-pc-listas > #lista-externa > li > a{
    text-decoration: none;
    /* font-weight: bold; */
    font-weight: 500;
    letter-spacing: .6px;
    color: black;
}
.menu-pc-listas > #lista-externa > li > a:hover{
    color: #E65617;
}

.menu-pc-listas > #lista-externa > li::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E65617;
    width: 0;
    height: 2px;

    transition: .3s ease;
}

.menu-pc-listas > #lista-externa > li:hover::after{
    width: 100%;
    transition: .3s ease;
}

/*============================*/
body > main{
    position: relative;
}
/* >>>>>>>>>>>>>>>> LETREIRO <<<<<<<<<<<<<<< */
.letreiro{
    background-color: rgba(0, 0, 0, 0.377);
    height: 40px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.letreiro p{
    color: white;
    position: absolute;
    top: 50%;
    left: 95%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1em;
    font-size: 20px;
    width: 1880px;
    /* 1880px */
    margin-left: 10px;
    transform: translate(0, -50%);

    animation: letreiro 20s infinite;
    /* background-color: blue; */
}

@keyframes letreiro{
    to{
        left: -420%;
    }
}
/* >>>>>>>>>>>>>> CONTENT <<<<<<<<<<<< */
.content{
    position: relative;
    display: grid;
    width: 80%;
    margin: 10px auto 50px auto;
    grid-template-columns: 1fr 350px;
    border-top: var(--border-grid);
}
.artigos{
    display: grid;
}
/* .artigos > article:nth-child(n+2){
    border-top: var(--border-grid);
    padding-top: 5px;
} */

/* >>>>>>>>>>>>>> PUBLICAÇÕES <<<<<<<<<<<< */
.public{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 195px;
    margin: 20px 0;
    grid-gap: 10px;
    /* background-color: red; */
}
.artigos a{
    text-decoration: none;
}
.imagem-public{
    /* background-color: pink; */
    overflow: hidden;
}
.public{
    /* border: 2px solid blue; */
}
.imagem-public img{
    width: 100%;
    height: 100%;
    transition: .3s ease-in;
}
.imagem-public:hover img{
    transition: .3s ease-in;
    transform: scale(1.1);
}
.txt{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: red; */
}
.txt a h1{
    font-size: var(--font-h1);
    font-family: var(--poppins-medium);
    color: rgb(0, 0, 0);
    font-weight: 500;
    grid-row: 1;
    line-height: 1.2em;
    /* border: 2px solid rgb(29, 34, 29); */
}
.txt a p{
    font-size: var(--font-txt);
    font-family: var(--poppins-regular);
    color: var(--color-txt);
    grid-row: 2;
    text-align: justify;
    
    /* background-color: blue; */
    margin-top: 5px;
    /* height: 100px; */
}
.txt a h1:hover, a p:hover{
    transition: .1s ease;
    color: #000766;
} 

/* >>>>>>>>>>>>>> RECOMENDADOS <<<<<<<<<<<< */
.recomended{
    grid-column: 2;
    border-left: var(--border-grid);
    font-family: var(--poppins-light);
    display: flex;
    flex-direction: column;
    grid-auto-rows: 150px;
}
.recomended .cont{
    display: grid;
    width: 70%;
    height: 155px;
    margin: 35px auto 0 auto;
    /* background-color: rgb(128, 27, 27); */

    /* border: 2px solid blue; */
    overflow: hidden;
}

.recomended .cont img{
    grid-column: 1;
    grid-row: 1/3;
    transition: .3s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.recomended .cont:hover img{
    transition: .3s ease-in-out;
    transform: scale(1.1);
}
/* .recomended .cont:hover p{
    transition: .3s ease;
    transform: scale(1.03);
} */
.recomended .cont p{
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    grid-column: 1;
    grid-row: 2;
    padding: 0px 0 5px 5px;
    z-index: 1;

    animation: .3s ease-in-out;
}
/* ----------------------------------- */
.content::before{
    content: 'Recomendados';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E65617;
    /* #000766; */
    padding: 2px 5px;
    color: white;
    font-family: var(--poppins-light);
    font-size: 13px;
}

/* .recentes{
    color: white;
    background-color: rgb(0, 0, 0);
    display: table;
    width: 100%;
    height: 550px;
    margin: 0;
}
.recentes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.div-conteudo{
    width: 100%;
    display: table;
    margin: 2.5% 0%;
}
.div-conteudo article{
    margin: 2% 3%;
}
.recentes button{
    background-color: rgb(11, 11, 70);
    margin-top: -2px;
    padding: 10px;
    border: 0;
}

.post{
    background-color: rgba(71, 71, 71, 0.123);
    text-align: justify;
    display: table-cell;
    width: 250px;
    height: 400px;
    float: left;
    border-left: 1px solid rgba(236, 232, 232, 0.054);
    border-right: 1px solid rgba(236, 232, 232, 0.054);
    position: relative;
}
.post img{
    width: 100%;
}

.post h2{
    text-align: left;
    font-size: 16px;
    padding: 0 0 10px 0;
}
.post p{
    font-size: 15px;
    padding: 0 2px 0 2px;
}
.post button{
    position: absolute;
    left: 0;
    bottom: 0;
} */

/* >>>>>>>>>>>>> RODAPÉ <<<<<<<<<<<<< */
.rodape{
    color: white;
    font-family: var(--poppins-light);
    background-color: #515152;
    display: grid;
    grid-template-columns: 1fr;
}
.rodape > .itens-rodape{
    display: grid;
    grid-template-columns: 200px 300px 300px 300px;
    grid-row: 1;
    margin: 40px auto 20px auto;
    /* grid-gap: 5px; */
}
.rodape > .itens-rodape > .item{
    /* border: 2px solid red; */
    height: 150px;
    padding: 0 0 0 15px;
}
.rodape > .itens-rodape > .item:nth-last-child(n+2){
    border-right: 1px solid rgba(255, 255, 255, 0.192);
}
.rodape > .itens-rodape > .item:nth-child(1){
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.rodape > .itens-rodape > .item:nth-child(1) img{
    width: 35%;
    align-items: center;
}
.rodape > .itens-rodape > .item h2{
    padding-bottom: 10px;
    font-size: 17px;
}
.rodape > .itens-rodape > .item a, p{
    font-size: 14px;
}
.rodape > .itens-rodape > .item ul, li, a{
    color: white;
    list-style: none;
    line-height: 23px;
}
.rodape > .itens-rodape > .item ul li a:hover{
    color: #E65617;
    transition: .3s ease;
}
.rodape > .copy{
    background-color: rgb(52, 52, 53);
    grid-row: 2;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 13px;
}




/*
>>>>>>>>>>>>>> RESPONSIVE <<<<<<<<<<<<<<<

@media (max-width: 768px){
    
    .menu{
        width: 100%;
    }
    header div{
        width: 50%;
        margin: 20% 25%;
    }
    header div p{
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .recentes{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .div-conteudo{
        width: 100%;
    }
    .div-conteudo article{
        margin: 0 8%;
        margin-bottom: 10%;
    }

    .divulgacao{
        
        width: 100%;
        margin: 0;
    }
    .div-divulgacao{
        
        width: 100%;
        margin: auto;
    }
    
    .divulgs{
        width: 45%;
        height: 330px;
        margin: 0 0 0 3%;
    }
    #img-footer{
        width: 70%;
        margin: 0 30%;
    }
    footer{
        width: 100%;
    }
}

@media (max-width: 425px) {
    #logo-menu img{
        width: 45px;
        height: 45px;
        margin: 4% 0 0 3%;
    }
    .btn-abrir{
        font-size: 25px;
    }
    header div p{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 60%;
        margin: 0 19%;
        
        font-size: 20px;
    }
    header div{
        
        margin: 40% 0;
        width: 100%;
    }
    .recentes{
        width: 100%;
        margin: 0;
        height: 900px;
        font-family: 'OpenSans-Light';
    }
    
    .div-conteudo{
       
        width: 100%;
       
        height: 870px;
    }
    
    .recentes article{
        margin: 0 0 0 2%;
        margin-bottom: 5%;
    }
    .post{
        width: 197px;
        height: 380px;
    }
    .post img{
        width: 100%;
    }
    .post h2{
        font-size: 15px;
    }
    .post p{
        font-size: 13px;
    }
    
    .divulgacao{
        width: 100%;
        height: 650px;
    }
    .div-divulgacao{
      
        width: 100%;
    }
    .divulgacao h2{
        font-size: 18px;
    }
    .divulgs{
        width: 80%;
        height: 280px;
        margin: 0 0 3% 10%;
    }
    .divulgs a p{
        font-size: 13px;
        padding: 0 4px;
    }
    
    

    footer{
        font-size: 15px;
        height: 100px;
        
        padding: 0;
    }
    #redes-sociais{
        height: 50px;
    }
    #img-footer{
        margin: 0 19%;
    }
    
    #img-footer img{
        width: 25px;
        height: 25px;
        
    }
    footer p{
        margin-top: 5%;
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    #logo-menu img{
        width: 50px;
        height: 50px;
        margin-left: 2%;
    }
    .btn-abrir{
        font-size: 25px;
    }
    header div p{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 70%;
        margin: 0 13%;
        
        font-size: 20px;
    }
    header div{
        
        margin: 40% 0;
        width: 100%;
    }
    .recentes{
        width: 100%;
        margin: 0;
        height: 900px;
        font-family: 'OpenSans-Light';
    }
    .divulgacao{
        width: 100%;
        height: 800px;
    }
    .div-conteudo{
        
        width: 99%;
        margin: 3% 1%;
        height: 870px;
    }
    .divulgs{
        margin: 0 0 4% 10%;
        height: 295px;
    }
    
    .recentes article{
        margin: 0 3px;
        margin-bottom: 5%;
    }
    .post{
        width: 175px;
        margin: 0;
    }
    

    .divulgacao{
        width: 100%;
        margin: 0;
        margin-bottom: -100px;
    }
    .divulgacao h2{
        font-size: 18px;
    }
    .divulgacao p{
        font-size: 13px;
    }
    #divulg-1{
        height: 250px;
    }
    #divulg-2{
        height: 305px;
    }
    footer{
        font-size: 15px;
        height: 100px;
        margin-bottom: 0;
    }
    #redes-sociais{
        height: 50px;
    }
    #img-footer{
        margin: 0 18%;
    }
    
    #img-footer img{
        width: 25px;
        height: 25px;
        margin: 3% 2%;
    }
    footer p{
        margin-top: 10%;
        font-size: 13px;
    }
    #txt-footer{
        height: 50px;
    }
}
@media (max-width: 360px){
    .post{
        width: 170px;
    }
}
@media (max-width: 330px){
    header div p{
        width: 75%;
    }
    .post{
        width: 150px;
        height: 420px;
    }
    .recentes article{
        margin: 2% 0 0 1.5%;
    }
    header div p{
        font-size: 25px;
    }
    #divulg-2{
        height: 300px;
    }
    #art-1 img{
        width: 266px;
    }
    #img-footer{
        margin: 0 14%;
    }
    #img-footer{
        width: 250px;
    }
}*/
