@charset "UTF-8";

@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');   
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf) format('truetype');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'OpenSans-Regular';
}
.menu{
    color: white;
    /* background-color: black; */
    height: 100px;
    display: table;
    width: 100%;
}
#logo-menu img{
    /* background-color: rgb(226, 45, 12); */
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-left: 30px;
    display: table-cell;
    float: left;
}
.menu label{
    float: right;
    margin: 20px 20px 0 0;
    font-size: 40px;
    cursor: pointer;
}
.wallpaper{
    background-image: url(Imagens/teclado.jpg);
    width: 100%;
}
header{
    color: white;
    /* background-color: blue; */
    width: 100%;
    height: 500px;
    display: table;
}
header p{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 50px;
    text-align: center;
    width: 500px;
    
}
header div{
    /* margin-top: 80%; */
    /* background-color: red; */
    width: 40%;
    /* float: left; */
    margin: 10% 30%;
}
.recentes{
    color: white;
    background-color: rgb(0, 0, 0);
    display: table;
    width: 100%;
    height: 550px;
    margin: 0;
}
.recentes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.div-conteudo{
    /* background-color: blueviolet; */
    /* width: 100%; */
    margin: 2.5% 12%;
}
.recentes button{
    background-color: rgb(11, 11, 70);
    padding: 10px;
    border: 0;
}
#art-1{
    /* background-color: rgba(71, 71, 71, 0.144); */
    text-align: justify;
    display: table-cell;
    width: 300px;
    height: 450px;
    float: left;
    border-left: 1px solid rgba(236, 232, 232, 0.054);
    border-right: 1px solid rgba(236, 232, 232, 0.054);
}
#art-1 h2{
    text-align: left;
}
#art-1 img{
    width: 100%;
}
#art-2{
    background-color: rgba(71, 71, 71, 0.144);
    display: table-cell;
    width: 300px;
    height: 450px;
    float: left;
    margin: 0 50px;
    border-left: 1px solid rgba(236, 232, 232, 0.054);
    border-right: 1px solid rgba(236, 232, 232, 0.054);
}
#art-3{
    background-color: rgba(71, 71, 71, 0.144);
    display: table-cell;
    width: 300px;
    height: 450px;
    float: left;
    border-left: 1px solid rgba(236, 232, 232, 0.054);
    border-right: 1px solid rgba(236, 232, 232, 0.054);
}

.divulgacao{
    color: black;
    /* background-color: pink; */
    display: table;
    width: 100%;
    height: 500px;
    margin: 20px 0;
}
.divulgacao a{
    text-decoration: none;
    color: black;
}
.div-divulgacao{
    margin: 3% 4%;
}
#divulg-1{
    width: 600px;
    height: 330px;
    /* background-color: aquamarine; */
    display: table-cell;
    float: left;
    margin-right: 10px;
    text-align: justify;
    border: 1px solid rgb(218, 214, 214);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
}
#divulg-1 img{
    width: 100%;
}
#divulg-2{
    width: 600px;
    height: 330px;
    /* background-color: rgb(34, 58, 50); */
    display: table-cell;
    float: left;
    margin-left: 10px;
    text-align: justify;
    border: 1px solid rgb(218, 214, 214);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
}
#divulg-2 img{
    width: 100%;
}
footer{
    background-color: black;
    height: 150px;
    width: 100%;
    display: table;
    font-size: 20px;
}
#redes-sociais{
    /* text-align: center; */
    color: white;
    background-color: rgb(14, 12, 12);
    height: 100px;
}
#img-footer{
    display: table;
    width: 50%;
    margin:0 36%;
}
#img-footer p{
    float: left;
    margin-top: 5%;
}
#redes-sociais img{
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 4%;
}
#txt-footer{
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 50px;
    margin-top: 10px;
    
}
@media (max-width: 768px){
    /* *{
        margin: 0;
        padding: 0;
        border: 0;
    } */
    .menu{
        width: 100%;
    }
    header div{
        width: 65%;
        margin: 30% 16%;
    }
    header div p{
        
        text-align: center;
        font-size: 50px;
    }
    .recentes{
        
        /* background-color: red; */
        width: 100%;
        margin: 0;
        padding: 0;
        height: 1000px;
    }
    .div-conteudo{
        background-color: red;
        width: 100%;
        margin: 3% 0; /*7*/
    }

    #art-1{
        /* background-color: blue; */
        /* float: left; */
        width: 40%;
        margin: 0 1%;
        margin-left: 50px;
    }
    #art-2{
        
        /* float: none; */
        width: 40%;
        margin: 0 1%;
        margin-left: 50px;
        /* display: none; */
    }
    #art-3{
        
        margin-top: 6%;
        /* float: left; */
        margin-left: 50px;
        width: 40%;
    }
    .divulgacao{
        width: 100%;
        height: 650px;
        margin: 0;
        padding: 0;
    }
    .div-divulgacao{
        
        width: 90%;
        margin: auto;
    }
    #divulg-1{
        
        margin: 0;
        /* float: none; */
        width: 100%;
        /* height: 200px; */
        margin-bottom: 5%;
    }
    #divulg-2{
        
        margin: 0;
        /* float: none; */
        width: 100%;
        height: 360px;
    }
    #img-footer{
        
        width: 70%;
        margin: 0 25%;
    }
    footer{
        width: 100%;
    }
}

@media (max-width: 425px) {
    #logo-menu img{
        width: 60px;
        height: 60px;
        margin-left: 2%;
    }
    .menu label{
        font-size: 30px;
    }
    header div p{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 70%;
        margin: 0 14%;
        /* background-color: red; */
        font-size: 30px;
    }
    header div{
        /* background-color: blue; */
        margin: 40% 0;
        width: 100%;
    }
    .recentes{
        width: 100%;
        margin: 0;
        font-family: 'OpenSans-Light';
    }
    .recentes h2{
        font-size: 18px;
    }
    .recentes p{
        font-size: 13px;
    }
    .div-conteudo{
        margin: 3% 0;
    }
    #art-1{
        float: left;
        width: 84%;
        height: 400px;
        margin: 0 8%;
        margin-bottom: 10%;
    }
    #art-2{
        float: left;
        margin: 0 8%;
        width: 84%;
        height: 400px;
    }
    #art-3{
        float: left;
        width: 84%;
        margin: 0 4%;
        height: 400px;
        display: none;
    }
    .divulgacao{
        width: 100%;
        margin: 0;
    }
    .div-divulgacao{
        margin: 3% 5%;
        /* margin-bottom: -6000px; */
    }
    .divulgacao h2{
        font-size: 18px;
    }
    .divulgacao p{
        font-size: 13px;
    }
    #divulg-1{
        height: 250px;
    }
    #divulg-2{
        height: 250px;
    }
    footer{
        font-size: 15px;
        height: 100px;
        /* bottom: 20px; */
        padding: 0;
    }
    #redes-sociais{
        height: 50px;
    }
    #img-footer{
        margin: 0 19%;
    }
    
    #img-footer img{
        width: 25px;
        height: 25px;
        /* margin: 3% 2%; */
    }
    footer p{
        margin-top: 5%;
        font-size: 13px;
    }
    #txt-footer{
        /* height: 50px; */
    }
}

@media (max-width: 375px) {
    #logo-menu img{
        width: 60px;
        height: 60px;
        margin-left: 2%;
    }
    .menu label{
        font-size: 30px;
    }
    header div p{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 70%;
        margin: 0 13%;
        /* background-color: red; */
        font-size: 30px;
    }
    header div{
        /* background-color: blue; */
        margin: 40% 0;
        width: 100%;
    }
    .recentes{
        width: 100%;
        margin: 0;
        font-family: 'OpenSans-Light';
    }
    .recentes h2{
        font-size: 18px;
    }
    .recentes p{
        font-size: 13px;
    }
    .div-conteudo{
        margin: 3% 0;
    }
    #art-1{
        float: left;
        width: 84%;
        height: 400px;
        margin: 0 8%;
        margin-bottom: 10%;
    }
    #art-1 img{
        width: 313px;
    }
    #art-2{
        float: left;
        margin: 0 8%;
        width: 84%;
        height: 400px;
    }
    #art-3{
        float: left;
        width: 84%;
        margin: 0 4%;
        height: 400px;
        display: none;
    }
    .divulgacao{
        width: 100%;
        margin: 0;
        /* margin-bottom: -200px; */
    }
    .div-divulgacao{
        margin: 3% 5%;
    }
    .divulgacao h2{
        font-size: 18px;
    }
    .divulgacao p{
        font-size: 13px;
    }
    #divulg-1{
        height: 250px;
    }
    #divulg-2{
        height: 270px;
    }
    footer{
        font-size: 15px;
        height: 100px;
        margin-bottom: 0;
    }
    #redes-sociais{
        height: 50px;
    }
    #img-footer{
        margin: 0 18%;
    }
    
    #img-footer img{
        width: 25px;
        height: 25px;
        margin: 3% 2%;
    }
    footer p{
        margin-top: 10%;
        font-size: 13px;
    }
    #txt-footer{
        height: 50px;
    }
}

@media (max-width: 330px){
    header div p{
        font-size: 25px;
    }
    #art-1 img{
        width: 266px;
    }
    #img-footer{
        margin: 0 14%;
    }
}
