@charset "UTF-8";
@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');   
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(./fonts/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(./fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}
:root{
    --poppins-regular: 'Poppins-Regular', sans-serif;
    --poppins-medium: 'Poppins-Medium', sans-serif;
    --poppins-semibold: 'Poppins-SemiBold', sans-serif;
    --poppins-light: 'Poppins-Light', sans-serif;
    --poppins-bold: 'Poppins-bold', sans-serif;
    --font-txt: 14px;
    --font-h1: 22px;
    --color-txt: rgba(0, 0, 0, 0.651);
    --border-grid: 1px solid rgba(0, 0, 0, 0.205);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'OpenSans-Regular';
}
body > main{
    position: relative;
}

/* >>>>>>>>>>>>>> CONTENT <<<<<<<<<<<< */
.content{
    position: relative;
    display: grid;
    width: 80%;
    margin: 10px auto 50px auto;
    grid-template-columns: 1fr 280px;
    border-top: var(--border-grid);
}
/* >>>>>>>>>>>>>> RECOMENDADOS <<<<<<<<<<<< */
.recomended{
    grid-column: 2;
    border-left: var(--border-grid);
    font-family: var(--poppins-light);
    display: flex;
    flex-direction: column;
    grid-auto-rows: 150px;
}
.recomended .cont{
    display: grid;
    width: 80%;
    margin: 30px auto 0 auto;
    overflow: hidden;
}

.recomended .cont a{ 
    grid-column: 1;
    grid-row: 1/3;
}
.recomended .cont a img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .3s ease;
}
.recomended .cont:hover img{
    transition: .3s ease-in-out;
    transform: scale(1.1);
    object-fit: cover;
}
.recomended .cont p{
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    grid-column: 1;
    grid-row: 2;
    padding: 0px 0 13px 5px;
    z-index: 1;

    animation: .3s ease-in-out;
}
.content::before{
    content: 'Recomendados';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E65617;
    /* #000766; */
    padding: 2px 5px;
    color: white;
    font-family: var(--poppins-light);
    font-size: 13px;
}

/* >>>>>>> CONFIGURAÇÕES ESPECÍFICAS DA PÁGINA <<<<<< */
section{
    /* background-color: wheat; */
    /* padding: 0 20px 0 0; */
    /* text-align: justify; */
    width: 95%;
}
h1{
    font-size: 25px;
    font-family: var(--poppins-light);
    padding: 10px 0;
}
.dt{
    padding: 5px 0;
}
.img-insta{
    padding: 10px 0;
    overflow: hidden;
}
.img-insta img{
    position: relative;
    width: 100%;
}
.img-insta:hover img{
    transition: .5s ease-in-out;
}
section > p{
    font-size: 17px;
    text-indent: 20px;
}
section ol li{
    color: black;
}