@charset "UTF-8";

@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');   
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* picture{
    display: none;
} */
body{
    /* background-color: red; */
    font-family: 'OpenSans-Light', sans-serif;
    letter-spacing: -0.2px;
    margin: 0; 
}
.row{
    padding: 0;
    display: table;
}
figcaption{
    font-size: 13px;
}
.div-inicial{
    font-size: 20px;
    display: table;
    margin: auto;
    padding: 2%;
    margin-top: 2,8%;
    max-width: 80%;
}
.div-inicial p{
    display: table-cell;
    text-align: justify;
    text-align: center;
}
hr#hr-top{
    max-width: 90%;
    color: rgb(6, 6, 92);
}

header{
    width: 100%;
    height: 250px;
    background-image: url(Imagens/pexels-lisa-editada.jpg);
    box-shadow: 0px 5px 15px rgba(19, 19, 19, 0.479);
}
header h1{
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 100;
    margin-left: 1%;
    text-align: left;
    max-width: 80%;
    margin-top: 1.5%;
    font-size: 50px;
    color: white;
}
header h3{
    font-weight: normal;
    text-align: left;
    margin-left: 1%;
    color: white;
    font-size: 15px;
}

header#texto-header{
    float: left;
    display: table-cell;
}

section{
    /* background-color: pink; */
    float: left;
    width: 60%;
    margin: 0 20%;
                            /* OBSERVAR O PADDING */
    margin-bottom: 50px;
    padding: 0;
    display: table-cell;
}
section p{
    margin: 0 0.5%;
    font-size: 20px;
    text-align: justify;
    text-indent: 20px;
}

section h1{
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: 40px;
}
h2{
    font-size: 32px;
    padding: 0;
    text-align: left;
}
#g-fotos{
     margin: 0 8%; 
}
#g-fotos figcaption{
     margin: 0 8%; 
}
#img3{
    margin: 0 -1.5%;
}
#img3 figcaption{
    margin: 0 -1.5%;
}

.menu{
    background-color: rgb(6, 6, 82);
    display: table;
    width: 100%;
    height: 72px;
}
.menu img{
    margin-top: 0.3%;
    width: 250px;
    /* height: 80px; */
    float: left;
    margin-left: 3%;  
    display: table-cell;

}
.menu ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* margin-right: 20px; */
    list-style: none;
}
.menu ul li{
    float: right;
    font-size: 25px;
}
.menu a{
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-top: -1px;
    /* margin: 0 10px; */
    display: block;
    padding: 20px;
    text-decoration: none;
}
.menu a:hover{
    background-color: white;
    color: rgb(6, 6, 82);
}
#itens-nav, #itens-nav2{
    display: table-cell;
    float: right;
}
#itens-nav{
    display: none;
}
ol{
    /* background-color: aqua; */
    font-size: 20px;
    margin: 0 1%;
}
ol picture, figcaption{
    margin: 0 15%;
}
.cont-final{
    display: table;
    /* background-color: rgb(25, 10, 158); */
    width: 60%;
    margin: auto;
}
.redes-sociais{
    display: table-cell;
    float: left;
    /* background-color: green; */
    width: 98%;
    margin-left: 1%;
}
.redes-sociais img{
    margin: 0 10px;
    margin-bottom: 50px;
    width: 40px;
    height: 40px;
}

.hr-lista{
    width: 100%;
    color: rgb(6, 6, 21);
    display: none;
}
                               /* LISTAS PARA CELL */
.lista-cell{
    width: 75%;
    margin-left: 5%;
    text-align: justify;
    margin-bottom: 80px;
    display: none;
}

footer{
    background-color: rgb(6, 6, 92);
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: table; 
}
footer a{
    text-decoration: none;
    color: red;
}
footer p{
    font-size: 20px;
    text-align: center;
}
.caixas{
    margin-left: 40px;
    font-size: 16px;
    
}
.caixas li{
    list-style-type: none;
}
#caixa1{
    float: left;
    display: table-cell;
    width: 30%;
}
#caixa2{
    float: left;
    display: table-cell;
    width: 30%;
    margin: 0 40px;
}
#caixa3{
    float: left;
    display: table-cell;
    width: 30%;
}
#caixa4{
    margin-bottom: -20px;
    float: left;
    display: table-cell;
    width: 100%;
}
#caixa4 p{
    border-top: 1px solid rgb(255, 255, 255);
    padding: 50px;
}
footer ul{
    list-style: inside;
}

#bt-inicio img{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
                                        /* RESPONSIVIDADE PARA TABLET */
@media screen and (max-width: 900px) {
    section{
        width: 80%;
        margin: 8%;
    }
    #g-fotos{
        width: 100%;
        margin: 0 1.5%;
    }
    .cont-final{
        /* background-color: blue; */
        width: 80%;
        margin: 0 7.5%;
    }
}
@media screen and (max-width: 740px){
    #g-fotos{
        margin: 0 20%;
    }
    #g-fotos figcaption{
        margin: 0 20%;
    }
    #caixa1{
        margin: 0;
        padding: 0;
    }
    #caixa2{
        margin: 0;
        padding: 0;
    }
    #caixa3{
        padding: 0;
        margin: 0;
    }
}
                                       /* RESPONSIVIDADE PARA CELULAR */
@media screen and (max-width: 730px){
    .row{
        padding: 0;
        margin: 0;
    }
    #itens-nav2{
        display: none;
    }
    #itens-nav{
        background-color: rgb(11, 11, 61);
        float: left;
        width: 100%;
        margin: auto;
        margin-top: 1%;
        height: 45px;
        display: block;
    }
    .menu{
        height: 120px;
        width: 100%;
    }
    .menu ul li a{
        /* background-color: blueviolet; */
        font-size: 18px;
        text-align: center;
        display: inline;
    }
    .menu ul{
        width: 100%;
        margin-left: 10px;
    }
    .menu ul li{
        display: inline;
        margin: 0 5px;
        float: left;
        margin-top: 2px;
        /* margin-top: -1%; */
    }
    .menu img{
        margin: 0 15%;
        margin-top: 3%;
    }
    section{
        margin: 0 1%;
        width: 98%;
        padding: 0;
        /* margin-left: 0; */
        /* margin-right: -10px; */
        /* text-align: left; */
    }
    section h1{
        text-align: left;
        font-size: 30px;
    }
    section p{
        text-align: justify;
        font-size: 17px;
        margin: 0 1%;
        /* margin-left: -2%; */
    }
    section picture{
        width: 100%;
        margin: 0 -4px;
        /* margin: 0; */
        /* width: 340px; */
    }
    .div-inicial{
        /* background-color: aqua; */
        max-width: 98%;
    }
    
    #g-fotos{
        margin: 0.5%;
    }
    #g-fotos figcaption{
        margin: 0.5%;
    }
    #img3{
        margin: -1%;
    }
    #img3 figcaption{
        margin: 0 -1%;
    }
    header{
        height: 200px;
        width: 100%;
    }
    header h1{
        /* width: 100%; */
        text-align: left;
        font-size: 30px;
        /* height: 50px; */
    }
    #texto-header{
        margin-top: 0%;
    }
    #texto-header h3{
        font-size: 12px;
    }
    
    h2{
        font-size: 25px;
    }
    ol li{
        font-size: 16px;
        /* margin-left: 3%; */
        margin: 4%;
        margin-left: 5%;
        padding: 0;
        text-align: justify;
    }
    ol{
        padding: 0;
        width: 97%;
        margin: 0 1.5%;
    }
    /*ol picture{
         width: 98%; 
        margin: 0.5%;
    }*/
    figcaption{
        margin: -10px 1%;
        font-size: 12px;
    }
    aside{
        display: none;
    }
    .caixas{
        display: none;
    }
    #caixa4{
        margin-top: -5%;
    }
    #caixa4 p{
        border-top: none;
        padding: 0;
        font-size: 17px;
    }
    .redes-sociais{
        padding: 0;
        display: block;
    }
    .redes-sociais h2{
        margin-left: 0%;
    }
    .cont-final{
        width: 100%;
        margin-top: 20px;
        margin: 0;
    }
    .cont-final ul{
        font-size: 17px;
    }
    /* #div-sociais{
        padding: 50px;
    } */
    #div-sociais img{
        width: 30px;
        height: 30px;
        margin-bottom: 30px;
    }
    
    .hr-lista{
        display: block;
        float: left;
        margin-bottom: 40px;
    }
    .lista-cell{
        width: 98%;
        text-align: left;
        display: block;
        margin: 1%;
        margin-left: -5px;
    }
    .lista-cell ul{
        font-size: 15px;
    }
    .lista-cell li{
        list-style-type: none;
    }

    #bt-inicio img{
        width: 40px;
        height: 40px;
        position: fixed;
        right: 10px;
        bottom: 5px;
    }

/* @media screen and (max-width: 600px){
    section{
        margin: 0 15%;
        width: 70%;
    }
    #g-fotos{
        margin: 0 25%;
    }
    #g-fotos figcaption{
        margin: 0 25%;
    }
    section picture{
        margin: 0 15%;
    }
    section figcaption{
        margin: 0 15%;
    }
    #img3{
        margin: 0 15%;
    }
    #img3 figcaption{
        margin: 0 15%;
    }
} */
    
}