@charset "UFT-8";
@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts/OpenSans-Light.ttf) format('truetype');   
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(./fonts/Poppins-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(./fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}

/* >>>>>>>>>>>>>> VARIÁVEIS <<<<<<<<<<<< */
:root{
    --poppins-regular: 'Poppins-Regular', sans-serif;
    --poppins-medium: 'Poppins-Medium', sans-serif;
    --poppins-semibold: 'Poppins-SemiBold', sans-serif;
    --poppins-light: 'Poppins-Light', sans-serif;
    --poppins-bold: 'Poppins-bold', sans-serif;
    --font-txt: 14px;
    --font-h1: 22px;
    --color-txt: rgba(0, 0, 0, 0.651);
    --border-grid: 1px solid rgba(0, 0, 0, 0.205);
}
/* <<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>> */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    /* background-color: rgba(128, 128, 128, 0.185); */
}

main{
    position: absolute;
    width: 1050px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(163, 163, 163, 0.226);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header{
    background-color: rgba(255, 105, 180, 0.541);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.sociais{
    background-color: green;
}
.sociais img{
    margin: 8px;
    width: 30px;
    height: 30px;
}
.back{
    background-color: red;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(-1);
}
section{
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.txt{
    background-color: blueviolet;
    width: 70%;
    margin: 100px 30px 0 30px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    background-color: rgb(53, 53, 110);
    clip-path: circle(700px at right 800px);
}