@charset "UTF-8";
/* .divulgacao{
    
} */
.divulgacao a{
    text-decoration: none;
}
.divulgacao h2{
    margin-bottom: -20px;
    margin-left: 10px;
}
.veja-tbm{
    display: table-cell;
    float: left;
    margin: 0 1%;
    margin-top: 3%;
}
.veja-tbm p, a{
    text-indent: 20px;
    text-align: justify;
    width: 100%;
    font-size: 20px;
}
.veja-tbm img{
    width: 100%;
    display: table-cell;
}

@media screen and(max-width: 900px) {
    .veja-tbm{
        width: 98%;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    
    .veja-tbm img{
        width: 100%;
        padding: 0;
    }
    .veja-tbm p{
        font-size: 17px;
        width: 100%;
        padding: 0;
    }
}